html {
	box-sizing: border-box;
}
*, *::before, *::after {
	box-sizing: inherit;

}
body {
	margin: 0;
}
.conteiner {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px 15px;
}
.header {
	background-color:#ECECEC;
}  
.header .conteiner {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.web {
	width: 145px;
	height: 31px;
	font-family: Raleway;
	font-weight: 700;
	font-size: 26px;
	line-height: 100%;
	letter-spacing: 0.03em;
	color: #2196F3;
}
.black {
	color: black;
}
.web:hover {
	text-decoration: underline;
	color: #2196F3;
}
.nav ul {
	display: flex;
	justify-content: space-between;
	width: 294px;
	height: 16px;
	font-family: roboto;
	font-weight: 500;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0.02em;
	color: black;
	list-style-type: none;
	gap: 50px;
}
.item_nav1 {
	color:#2196F3;
	cursor: pointer;
	text-decoration: none;
}
.item_nav2 {
	color: black;
	text-decoration: none;
}
.item_nav3 {
	color: black;
	text-decoration: none;
}
.right_nav {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	list-style-type: none;
}
.mail {
	width: 135px;
	height: 16px;
	color: #2196F3;
	cursor: pointer;
}
.namber {
	width: 122px;
	height: 16px;
	color: #757575;
}
.hero {
	max-width: 100%;
	background-color:#2F303A;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 200px 452px;
}
.hero_text {
	width: 696px;
	font-family: roboto;
	font-weight: 900;
	font-style: 44px;
	line-height: 60px;
	letter-spacing: 0.06em;
	color: #ffffff;
	text-align: center;
}
.hero_button {
	background-color: #2196F3;
	width: 200px;
	height: 50px;
	background-repeat: 4px;
	color: #ffffff;
	font-family: roboto;
	font-weight: 700px;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.06em;
}
.item_hero {
	display: flex;
	list-style-type: none;
}
.item_hero h3 {
	font-family: roboto;
	font-weight: 900;
	font-style: 14px;
	line-height: 100%;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #212121;
	margin-top: 94px;
	text-align: center;
}
.item_hero p {
	font-family: roboto;
	font-weight: 400;
	font-style: 14px;
	line-height: 124%;
	letter-spacing: 0.03em;
	color: #757575;
	text-align: center;
}
.hero_2 ul {
	display: flex;
	row-gap: 30px;
	list-style-type: none;
	gap: 30px;
}
.hero_2 h4 {
	font-family: roboto;
	font-weight: 700;
	font-style: 36px;
	line-height: 100%;
	letter-spacing: 0.03em;
	color: #212121;
	text-align: center;

}
.hero_2 img {
	width: 370px;
	height: 294px;
}
.hero_3 {
	width: 100%;
	background-color: #F5F4FA;
}
.hero_3 h3 {
	text-align: center;
	margin-top: 94px;
	margin-bottom: 50px;
	font-family:roboto;
	font-weight: 700;
	font-size: 36px;
	line-height: 100%;
	letter-spacing: 0.03em;
	color:#212121;
}
.hero_teem {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}
.teem img {
	width: 270px;
	margin-bottom: 0;
}
.hero_teem_text {
	background-color: #ffffff;
	margin-bottom: 94px;
	margin-top: 0;
} 
.hero_teem_text h5 {
	font-family:roboto;
	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: 0.03em;
	color:#212121;
	text-align: center;
}
.hero_teem_text p {
	font-family:roboto;
	font-weight: 400;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: 0.03em;
	color:#757575;
	text-align: center;
}
.footer {
	width: 100%;
	background-color: #2F303A;
	border: 3px solid #2196F3;
}
.list {
display:flex;
flex-direction: column;
margin-left: 215px;
padding-top: 60px;
padding-bottom: 60px;
list-style-type: none;
}
.light {
	color: #ffffff;
}
.list li {
	font-family:roboto;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
	color:#fff;
}